body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, red, yellow);
}

h1 {
	font-size: 4rem;
	letter-spacing: -1.5;
	font-weight: 300;
}

h2 {
	font-size: 2rem;
	letter-spacing: -1;
	font-weight: 300;
}

h3 {
	font-size: 1rem;
	letter-spacing: -1;
	font-weight: 500;
}

.row {
	padding: 2%;
	margin: 2%;
}

.col-1 {
	margin: 0 2%;
}

.form-control-sm {
	background: rgba(255, 255, 255, 0.1);
}
